body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: #f5f5f5;
  line-height: 1.6;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 20px;
  color: #aaa;
}

.subtext {
  margin-top: 10px;
  color: #777;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: white;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

/* HEADINGS */
h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* CARDS */
.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 25px;
  transition: 0.3s;
  border: 1px solid #222;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #444;
}

/* HIGHLIGHT PROJECT */
.highlight {
  border: 1px solid #fff;
}

/* IMAGE */
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* SUBTITLE */
.subtitle {
  color: #bbb;
  font-size: 14px;
}

/* TAGS */
.tags span {
  display: inline-block;
  background: #333;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border-radius: 6px;
  font-size: 12px;
}

/* BUTTONS */
.buttons {
  margin-top: 15px;
}

.buttons a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 14px;
  background: white;
  color: black;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

/* INSIGHT */
.insight {
  color: #aaa;
  font-style: italic;
}

/* THINKING */
.thinking {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 12px;
}
